div {
  padding-bottom: 1%;
}

body {
  font-family: "Century Gothic", sans-serif;
  background-image: url("../imgs/bookshelf-window-bg.png");
  color: #b6e1fc;
  background-attachment: fixed;
  background-size: 40%;
  background-position: -2.5% center;
  background-color: #338FB6;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  pointer-events: none;
  z-index: 0;
}

em {
  font-style: normal;
  font-weight: 700;
}

em > a {
  color: white;
}


#main-section {
  position: relative;
  z-index: 1;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1%;
}

.section {
  padding: 5%;
  padding-right:8%;
  padding-left: 4%;
  padding-bottom: 2%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 1%;

}

.blue-section {
  background-color: #338FB6;
  color: white;
  border-color: black;
  opacity: 0.8;
}

.black-section {
  background-color: black;
  /* border-color: #67A9BF; */
  border-color: #b6e1fc;
  opacity: 0.8;
}

.circle {
  padding-bottom: 20px;
}

.section-icon {
  border-radius: 50%;
  padding: 40px;
  float: left;
  margin-bottom: 2%;
}

#info-icon {
  background:url(../imgs/info-icon.png) no-repeat center center;
  border: 2px solid white;
}

#education-icon {
  background:url(../imgs/education-icon-white.png) no-repeat center center;
  /* border: 2px solid #67A9BF; */
  border: 2px solid white;
}

#skills-icon {
  background:url(../imgs/skills-icon-blue.png) no-repeat center center;
  border: 2px solid #b6e1fc;
}

#experience-icon {
  background:url(../imgs/experience-icon-white.png) no-repeat center center;
  /* border: 2px solid #67A9BF; */
  border: 2px solid white;
}

#projects-icon {
  background:url(../imgs/projects-icon.png) no-repeat center center;
  border: 2px solid white;
}

#research-icon {
  background:url(../imgs/microscope-icon-blue.png) no-repeat center center;
  border: 2px solid #b6e1fc;
  padding: 50px;
}

#contact-icon {
  background:url(../imgs/contact-icon-blue.png) no-repeat center center;
  /* border: 2px solid #67A9BF; */
  border: 2px solid #b6e1fc;
  height: 50px;
}

#contact {
  margin-top: -100px;
}
/* 
#target-icon-white {
  background:url(..imgs/experience-icon.png) no-repeat center center;
  /* padding: 50px; */
  /* height: 50px; 
}
*/

.section-title {
  display: inline;
  letter-spacing: 8px;
  font-size: 30px;
  text-decoration: overline;
  margin-left: 15px;
}

.content {
  display: inline-block;
  margin-left: 14%;
  width: 80%;
  margin-top: -2%;
}

.entry-blue {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 2.5%;
  margin-bottom: 6%;
}

.entry-black {
  /* border-color: #67A9BF; */
  border-color: #b6e1fc;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 2.5%;
  padding-right: 5%;
  margin-bottom: 6%;
}

.entry-title {
  display: inline;
  font-size: 22px;
}

.year {
  font-size: 15px;
  /* color: #aac7d9; */
  color: #b6e1fc;
  display: inline;
}

.entry-info {
  font-size: 18px;
  padding-left: 4%;
  padding-top: 2%;
}

.bullet {
  margin-top: -25px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.sub-bullet {
  /* margin-top: -25px; */
  margin-left: 15px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.descriptor {
  /* color: #aac7d9; */
  display: inline;
  padding-right: 2%;
  font-weight: bold;
}

.position {
  font-size: 20px;
  /* color: #aac7d9; */
  color: #b6e1fc;
  margin-left: -4%;
  margin-top: -2%;
  font-style: italic;
}

#intro {
  background-color: black;
  padding: 5%;
  padding-bottom: 4%;
  border-width: 1px;
  border-style: solid;
  /* border-color: #67A9BF; */
  border-color: #b6e1fc;
  border-radius: 5px;

}

.small-pic-wrap {
  width: 190px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #b6e1fc;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.92;
}

#small-pic {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.15) translateY(2.5%);
}

.skill {
  width: 200px;
  border-radius: 0px;
  margin-top: -12px;
  border-left: none;
  border-right: none;
}

.skills-content {
  text-align: center;
  margin-left:12%;
  margin-top:5px;
}

#skills-col1 {
  display: inline-block;
  text-align: center;
}

#skills-col2 {
  display: inline-block;
  margin-left: 10%;
  text-align: center;
}

#spanish {
  margin-left: 11%;
  margin-right: 11%;
}

#spanish-title {
  font-size: 20px;
}

h1 {
  /* color:#67A9BF; */
  color: #b6e1fc;
  font-weight: 300;
  font-size: 90px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-align: center;
  letter-spacing: 8px;
}

.about {
  font-size: 20px;
  margin-bottom: 3%;
}

a {
  /* color: #67A9BF; */
  color: #b6e1fc;
}

a:hover, a:link {
  text-decoration: none;
}

.clickable:hover {
  background-color: #b6e1fc;
  
}

@media screen and (max-width: 1250px) {
    #main-section {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1000px) {
    #main-section {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media  screen and (max-width: 950px) {
    #main-section {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media  screen and (max-width: 800px) {
    #contact {
      margin-top: 0%;
      margin-left: 1%;
    }
}

@media  screen and (max-width: 750px) {
  #skills-col2 {
    margin-top: -4px;
    margin-left: -0.5%
  }
}

@media  screen and (max-width: 560px) {
    #main-section {
      margin-left: 0%;
      margin-right: 0%;
    }
    h1 {
      font-size: 70px;
    }
    .content {
      margin-top: 2%;
    }
    #contact {
      width: 70%;
    }
    #contact-info {
      font-size: 15px;
      padding-left: 5%;
    }
    /* #spanish-title {
      font-size: 16px;
    } */
}

@media only screen and (max-device-width: 500px) {
    #main-section {
      margin-left: 0%;
      margin-right: 0%;
      padding-top: 0%;
    }
    #contact {
      margin-top: 0%;
    }
    .content {
      margin-top: 40px;
      margin-left: 5%;
      width: 90%;
    }
    .section-title {
      font-size: 60px;
      margin-left: 50px;
    }
    .entry-title {
      font-size: 52px;
    }
    #spanish-title {
      font-size: 52px;
    }
    .year {
      font-size: 50px;
    }
    .entry-info {
      font-size: 45px;
    }
    .position {
      font-size: 50px;
    }
    .about {
      font-size: 55px;
    }
    .section {
      margin-bottom: 0%;
      padding: 0;
      padding-top: 50px;
    }
    .section-icon {
      display: none;
    }
    .bullet {
      margin-left: 30px;
      margin-top: -65px;
    }
    .skill {
      width: 350px;
    }
}
