div {
  padding-bottom: 1%;
}

body {
  font-family: "Century Gothic", sans-serif;
  background-image: url("../imgs/tunnel_final.jpg");
  color:#67A9BF;
  background-attachment: fixed;
  background-size: cover;
  background-color: #338FB6;

}

#main-section {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1%;
  opacity: .8;
}

.section {
  padding-bottom: 1%;
}

.blue-section {
  background-color: #338FB6;
  color: white;
  padding: 5%;
  padding-left: 4%;
  padding-bottom: 2%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.black-section {
  background-color: black;
  padding: 5%;
  padding-left: 4%;
  padding-bottom: 2%;
  border-width: 1px;
  border-style: solid;
  border-color: #67A9BF;
  border-radius: 5px;
}


.section-icon {
  /*margin-right: 4%;*/
  /*display: inline;*/
  /*float: left;*/
  /*position: absolute;*/
  /*margin-top: 1%;*/
  /*padding-left: %;*/
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  /*margin-left: 13%;*/
  /*height:50px;
  width:50px;;*/
  border-radius: 50%;
  padding: 40px;
  display: inline-block;
  float: left;
  margin-bottom: 2%;
}

#info-icon {
  background:url(../imgs/about-icon.png) no-repeat center center;
  padding: 0;
}

#education-icon {
  background:url(../imgs/education-icon.png) no-repeat center center;
  border: 2px solid #67A9BF;
}

#skills-icon {
  background:url(../imgs/skills-icon.png) no-repeat center center;
  border: 2px solid white;
}

#experience-icon {
  background:url(../imgs/experience-icon.png) no-repeat center center;
  border: 2px solid #67A9BF;
}

#projects-icon {
  background:url(../imgs/projects-icon.png) no-repeat center center;
  border: 2px solid white;
}

#contact-icon {
  background:url(../imgs/contact-icon.png) no-repeat center center;
  border: 2px solid #67A9BF;
}

.section-title {
  display: inline;
  letter-spacing: 8px;
  font-size: 30px;
  text-decoration: overline;
  float: left;
  margin-left: 5%;
  /*margin-top: -5%*/
  /*margin-top: 24%; TODO this is all messed up when made smaller, with content width too, should prob either just have it on top, or figure out how to use rows and cols and all that stuff*/
}

.content {
  display: inline-block;
  /*margin-left: 45px;*/
  margin-left: 14%;
  width: 80%;
  margin-top: -2%;
  /*float: left;*/
}

.entry-blue {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 2.5%;
  margin-bottom: 3%;
}

.entry-black {
  border-color: #67A9BF;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 2.5%;
  margin-bottom: 3%;
}

.entry-title {
  display: inline;
  font-size: 22px;
  /*text-decoration: underline;*/
}

.year {
  font-size: 15px;
  color: #aac7d9;
  display: inline;
}

.entry-info {
  font-size: 15px;
  padding-left: 4%;
  padding-top: 2%;
}

.job-info {
  font-style: italic;
}

.descriptor {
  color: #aac7d9;
  display: inline;
  padding-right: 2%;
}

.position {
  font-size: 20px;
  color: #aac7d9;
  margin-left: -4%;
  margin-top: -2%;
}

.dot {
  width: 1%;
  height: 1%;
  display: inline;
}

/*.location {
  font-size: 12px;
  color: #aac7d9;
  padding-left: 4%;
}*/

#intro {
  background-color: black;
  padding: 5%;
  /*margin-top: 4%;*/
  padding-bottom: 4%;
  border-width: 1px;
  border-style: solid;
  border-color: #67A9BF;
  border-radius: 5px;

}

#small-pic {
  height: 140px;
  border-width: 2px;
  border-style: solid;
  border-color: #67A9BF;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  /*float: left;
  display: inline-block;
  margin-left: 10%;
  margin-top: 4%;*/

}

h1 {
  color:#67A9BF;
  font-weight: 300;
  font-size: 90px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-align: center;
  letter-spacing: 8px;

  /*float: right;
  display: inline-block;
  margin-right: 20%;*/
}

.about {
  font-size: 20px;
  margin-bottom: 3%;
}

a {
  color: #67A9BF;
}

a:hover, a:link {
  text-decoration: none;
}

#contact {
  margin-top: -100px;
}

.clickable:hover {
  background-color: #67A9BF;
}

@media screen and (max-width: 1250px) {
    #main-section {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1000px) {
    #main-section {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media  screen and (max-width: 900px) {
    #main-section {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media  screen and (max-width: 800px) {
    #main-section {
        margin-left: 5%;
        margin-right: 5%;
    }
    #contact {
      margin-top: 0%;
      margin-left: 1%;
      /*display: block;*/
    }
}

@media  screen and (max-width: 560px) {
    #main-section {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media only screen and (max-device-width: 500px) {
    #main-section {
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 0%;
    }
    /*.entry-title {
      font-size: 32px;
    }
    .year {
      font-size: 25px;
    }
    .entry-info {
      font-size: 25px;
    }
    .about {
      font-size: 30px;
    }
    .section {
      padding-bottom: 0%;
    }*/
}
