body{
  font-family: "Futura";
  background-image: url("caldera.jpg");
  color:#67A9BF;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
 font-family: "Futura";
 text-align: center;
 font-size: 50px;
 color:#67A9BF;
 height:70px;
 width:700px;
 background-color:#050505;
 border-radius: 15px;
 margin-right: auto;
 margin-left: 22%;
 display: inline-block;
 opacity: .8;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.section{
  color:#67A9BF;
  text-align: left;
  width:700px;
  background-color:#050505;
  margin-right: auto;
  margin-left: 22%;
  margin-bottom: 10px;
  display: inline-block;
  opacity: .8;
  border-radius: 15px;
}

#name{
 text-align: center;
}

#bio {
  width:300px;
  margin-top: 10%;
  margin-left: 62%;
}

#squareimg {
  display: block;
  height: 250px;
  width: auto;
  border-radius: 15px;
}

#backbutton {
  margin-left: 45.5%;
}


