
body{
  background-image: url("turner_farm.jpg");
}

h2 {
 font-family: "Roboto", sans-serif;
 text-align: center;
 font-size: 50px;
 color:#67A9BF;
 height:60px;
 width:700px;
 background-color:#050505;
 border-radius: 15px;
 margin-right: auto;
 margin-left: auto;
 display: block;
 opacity: .8;
}

p {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
}


.section{
  color:#67A9BF;
  text-align: left;
  width:700px;
  background-color:#050505;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
  opacity: .8;
  border-radius: 15px;
}

#name{
 text-align: center;
 padding-top: 5px;
 padding-bottom:5px;
 font-size: 20px;
}

.contentHolder{
  width: 700px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
}

#bio {
  width: 300px;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 65px;
  margin-right: 50px;
  float: right;
}

#squareimg {
  display: inline-block;
  height: 250px;
  width: 194px;
  border-radius: 15px;
  margin-left: 50px;
  float: left;
  border-width: 0px;
}

#backbutton {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 80px;
  box-shadow: none;
  display: block;
}


