
/*body{
  font-family: "Futura", sans-serif;
  background-image: url("docks.jpg");
  color:#67A9BF;
  background-attachment: fixed;
  background-size: cover;

}*/

/*h1{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 90px;
  margin-top: 0%;
  margin-bottom: 2%;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#buttonholder{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 22px;
  width: 400px;
}

.button{
  text-align: center;
  height:22px;
  width:80px;
  background-color:#050505;
  border-radius: 8px;
  margin-top:0px;
  margin-bottom:0px;
  display: inline-block;
  opacity: .6;
  box-shadow: 3px 3px 5px #888888;
}*/

/*#buttonleft{
  float: left;
}

#buttonright{
  float:right;
}

a:link{
  text-decoration: none;
}

a:visited{
  color: #10AEE3;
}*/

/*#topLevelContainer {
  margin-left: 50;
  height: 100%;
  padding-bottom: 1000px; /*TODO revisit this*/
  /*margin-bottom: -1000px;
  border-width: 2px;
}*/

/*#leftCol {
  background-color: #67A9BF;
  height: 100%;
  padding-bottom: 1000px; /*TODO revisit this*/
  /*margin-bottom: -1000px;
}*/

body {
  /*font-family: "Futura", sans-serif;*/
  background-image: url("tunnel_full.jpg");
  color:#67A9BF;
  background-attachment: fixed;
  background-size: cover;

}

/*.background-pic {
  background-image: url("tunnel_stretch.jpg");
  background-attachment: fixed;
  background-size: cover;
}*/

#main-section {
  margin-left: 35%;
  margin-right: 10%;
  background-color: black;
  opacity: .7;
}

.section {
  padding: 5%;
  padding-bottom: 10%;
}

#small-pic {
  height: 140px;
  border-width: 2px;
  border-style: solid;
  border-color: #67A9BF;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  /*float: left;
  display: inline-block;
  margin-left: 10%;
  margin-top: 4%;*/

}

h1 {
  font-family: "Roboto", sans-serif;
  color:#67A9BF;
  font-weight: 300;
  font-size: 90px;
  margin-top: 5%;
  margin-bottom: 0%;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-align: center;
  /*float: right;
  display: inline-block;
  margin-right: 20%;*/
}

#education {
  background-color: black;
}

#experience {
  background-color: white;
}
