
/*body{
  font-family: "Futura", sans-serif;
  background-image: url("docks.jpg");
  color:#67A9BF;
  background-attachment: fixed;
  background-size: cover;

}*/

/*h1{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 90px;
  margin-top: 0%;
  margin-bottom: 2%;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#buttonholder{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 22px;
  width: 400px;
}

.button{
  text-align: center;
  height:22px;
  width:80px;
  background-color:#050505;
  border-radius: 8px;
  margin-top:0px;
  margin-bottom:0px;
  display: inline-block;
  opacity: .6;
  box-shadow: 3px 3px 5px #888888;
}*/

/*#buttonleft{
  float: left;
}

#buttonright{
  float:right;
}

a:link{
  text-decoration: none;
}

a:visited{
  color: #10AEE3;
}*/

/*#topLevelContainer {
  margin-left: 50;
  height: 100%;
  padding-bottom: 1000px; /*TODO revisit this*/
  /*margin-bottom: -1000px;
  border-width: 2px;
}*/

/*#leftCol {
  background-color: #67A9BF;
  height: 100%;
  padding-bottom: 1000px; /*TODO revisit this*/
  /*margin-bottom: -1000px;
}*/

div {
  padding-top: 1%;
  /*margin-bottom: 1%;*/
}

body {
  font-family: "Century Gothic", sans-serif;
  background-image: url("tunnel_full.jpg");
  color:#67A9BF;
  background-attachment: fixed;
  background-size: cover;

}

/*.background-pic {
  background-image: url("tunnel_stretch.jpg");
  background-attachment: fixed;
  background-size: cover;
}*/

#main-section {
  margin-left: 15%;
  margin-right: 15%;
  opacity: .8;
}

.section {
  /*padding: 5%;*/
  padding-bottom: 1%;

}

.section-icon {
  margin-right: 3%;
  display: block;
  float: left;
  margin-top: 24%;

}

.section-title {
  display: block;
  letter-spacing: 8px;
  font-size: 30px;
  text-decoration: overline;
  float: left;
  margin-top: 24%;
}

.content {
  display: inline-block;
  margin-left: 9%;
  width: 55%;
  /*float: left;*/
}

.entry-blue {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 3%;
  margin-bottom: 3%;
}

.entry-black {
  border-color: #67A9BF;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 3%;
}

.entry-title {
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
  /*text-decoration: underline;*/
}

.year {
  font-size: 15px;
  color: #aac7d9;
  display: inline;
}

.entry-info {
  font-size: 15px;
  padding-left: 4%;
}

.descriptor {
  color: #aac7d9;
  display: inline;
  padding-right: 2%;
}

#intro {
  background-color: black;
  padding: 5%;
  /*margin-top: 4%;*/
  padding-bottom: 4%;
  border-width: 1px;
  border-style: solid;
  border-color: #67A9BF;
  border-radius: 5px;

}

#small-pic {
  height: 140px;
  border-width: 2px;
  border-style: solid;
  border-color: #67A9BF;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  /*float: left;
  display: inline-block;
  margin-left: 10%;
  margin-top: 4%;*/

}

h1 {
  font-family: "Roboto", sans-serif;
  color:#67A9BF;
  font-weight: 300;
  font-size: 90px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-align: center;
  letter-spacing: 8px;

  /*float: right;
  display: inline-block;
  margin-right: 20%;*/
}

#education {
  background-color: #338FB6;
  color: white;
  padding: 5%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;

}

#experience {
  background-color: black;
  padding: 5%;
  border-width: 1px;
  border-style: solid;
  border-color: #67A9BF;
  border-radius: 5px;

}
