body{
  font-family: "Futura";
  background-image: url("boston_sky.jpg");
  color:#67A9BF;
  background-attachment: fixed;
}

h1{
  font-family: "Futura";
  font-weight: 10px;
  text-align: center;
  font-size: 90px;
}

.button{
  color:#67A9BF;
  text-align: center;
  height:22px;
  width:100px;
  background-color:#050505;
  border-width:1px;
  border-radius:3px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left: 28%;
  display: inline-block;
  opacity: .3;

}

a:link{
  text-decoration: none;
  color: #10AEE3;
}

a:hover{
  text-decoration: none;
  color: #10AEE3;
}

a:visited{
  color: #10AEE3;
}

.image {
  /*opacity: 0.4;*/
}
